@{
    ViewData["Title"] = "Inicio - Agenda Médica";
}

<div class="container mt-5">
    <div class="jumbotron text-center bg-light p-5 rounded shadow">
        <h1 class="display-4">Bienvenido a Agenda Médica</h1>
        <p class="lead mt-3">
            Organiza tus pacientes, citas y contactos de manera fácil y segura.
        </p>
        <hr class="my-4">
        <p>
            Comienza a gestionar tu agenda médica haciendo clic en los botones de la barra de navegación.
        </p>
    </div>

</div>